<a *ngIf="film.id" class="minicard" href="{{ detail_url }}">
  <img
    class="minicard__poster"
    src="{{ img_base_url + film.poster_path }}"
    alt=""
  />
  <div class="minicard__content">
    <h2>{{ film.title }}</h2>
    <h3>{{ film.tagline }}</h3>
    <div *ngIf="film.genres">
      <app-chips
        *ngFor="let genre of film.genres"
        [name]="genre.name"
      ></app-chips>
    </div>
    <p>{{ film.release_date }}</p>
    <p>Note: {{ film.vote_average }}</p>
    <p>Nombre de vote: {{ film.vote_count }}</p>
    <!-- <p>{{ film.overview }}</p> -->
  </div>
</a>
